# Don't publish personal notes, prompts.
prompts/

# OS files: Mac, Windows
.DS_Store

# JavaScript
node_modules/
.turbo/
dist/
.svelte-kit/
coverage/
.vercel/

# Bazel
bazel-*

# Editors
.idea/
.vscode/
.vercel
.env*
